html(data-bs-theme="auto", lang="en")
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined")
        link(rel='stylesheet' href='app.css')
        script(src='app.js')
        include partials/meta
    body
        div#app(x-data="APP")
            div#appWrap.d-flex.flex-column
                include partials/header
                div.container-xl
                    div.row
                        include partials/mediaBox
                        include partials/timelineControls
                        include partials/timeline
                        div.col-12.d-flex.justify-content-center.d-none
                            a.btn.btn-sm.btn-primary('@click.stop.prevent'="toggleSettings()")="settings"
                div#lower.container-xl.flex-grow-1
                    div.row
                        div#chapterList.overflow-auto.pt-4.col-12.col-lg-6(x-ref="chapterList",:class="{'d-none' : data.chapters.length === 0}")
                            template(x-for="(chapter, index) in data.chapters", :key="chapter.id")
                                include partials/chapterListItem
                        div.col-12.col-lg-6.overflow-auto.h-100.p-4(:class="{'offset-lg-3' : data.chapters.length === 0}")
                            include partials/noChapterSelected
                            include partials/chapterEditPanel
            include partials/exportDialog
            include partials/importDialog
            include partials/metaDialog
            include partials/timestampDialog
            include partials/offcanvasNavi
            include partials/analyticsOffcanvas
            input#importFileInput.d-none(type="file", accept="audio/*,video/*,.json,.webvtt,.vtt,.txt,.xml,.csv,image/*", @change="fileHandler.handleFile($event.target.files[0])")
            div.toast-container.position-fixed.bottom-0.start-50.translate-middle-x(x-ref="toasts")