.modal(x-ref="settingsDialog")
    .modal-dialog.modal-xl
        .modal-content
            .modal-header
                h5.modal-title Settings
            .modal-body
                div Export Formats
                    br
                    p.small.mb-2 Controls which export formats are shown in the export dialog:
                div.d-flex.flex-wrap
                    template(x-for="format in availableFormats", :key="format.key")
                        div.form-check.me-2.mb-2
                            input.form-check-input(:id="`sf-${format.key}`", type="checkbox", @change="toggleFormat(format.key)", :checked="selectedFormats.includes(format.key)")
                            label.form-check-label(:for="`sf-${format.key}`", x-text="format.name")
            .modal-footer.justify-content-evenly
                button.btn.btn-secondary(@click="settingsModal.hide()") Close
